:root {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);

  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);

  --gradient-text: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );
}

@font-face {
  font-family: Inconsolata;
  src: url("assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf");
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Inconsolata;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button {
  font: inherit;
}

p,
h1,
h2,
h3 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3 {
  text-wrap: balance;
}

/* Layout */
body {
  min-height: 100vh;
  background-image: url(assets/images/background-mobile.png),
    url(assets/images/pattern-lines.svg);
  background-position: left top, left top;
  background-repeat: no-repeat, no-repeat;
}
